/*--------------------------------

LineIcons Web Font
Author: lineicons.com

-------------------------------- */
@font-face {
  font-family: 'LineIcons';
  src: url('../fonts/LineIcons.eot');
  src: url('../fonts/LineIcons.eot') format('embedded-opentype'), url('../fonts/LineIcons.woff2') format('woff2'), url('../fonts/LineIcons.woff') format('woff'), url('../fonts/LineIcons.ttf') format('truetype'), url('../fonts/LineIcons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*------------------------
	base class definition
-------------------------*/
.lni {
  display: inline-block;
  font: normal normal normal 1em/1 'LineIcons';
  color: inherit;
  flex-shrink: 0;
  speak: none;
  text-transform: none;
  line-height: 1;
  vertical-align: -.125em;
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*------------------------
  change icon size
-------------------------*/
/* relative units */
/* absolute units */

/*------------------------
  spinning icons
-------------------------*/
@keyframes lni-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*------------------------
  rotated/flipped icons
-------------------------*/
/*------------------------
	icons
-------------------------*/

.lni-apple::before {
  content: "\ea1a";
}

.lni-arrow-right::before {
  content: "\ea21";
}

.lni-checkmark-circle::before {
  content: "\ea5a";
}

.lni-chevron-down::before {
  content: "\ea5e";
}

.lni-chevron-up::before {
  content: "\ea64";
}

.lni-envelope::before {
  content: "\eaae";
}

.lni-map-marker::before {
  content: "\eb24";
}

.lni-pencil-alt::before {
  content: "\eb4d";
}

.lni-popup::before {
  content: "\eb62";
}

.lni-sort-amount-dsc::before {
  content: "\eba3";
}

.lni-text-format::before {
  content: "\ebd1";
}

.lni-star::before {
  content: "\ebb3";
}
